@model MusicLibraryApp.Models.HomePage.HomePageViewModel

@section HeaderNavigation {
    <a class="link_type_a" asp-action="Index">GENRES</a>
    <a class="link_type_a" asp-controller="Tunes">TUNES</a>
}

@section HeaderSearch {
    <div>test</div>
}

@section HeaderContent {
    @if (Model.User.Username == null)
    {
        <a class="link_type_b" asp-controller="Login">LogIn</a>
        <a class="link_type_c" asp-controller="Registration">SignUp</a>
    }
    else
    {
        <p class="display_username">hello, @Model.User.Username!</p>
        <a class="link_type_c" asp-action="Logout">LogOut</a>
    }
}