@model MusicLibraryApp.Models.RegistrationPage.RegistrationViewModel;

@section HeaderText {
	<h2>CREATE NEW ACCOUNT</h2>
}

@section HeaderContent {
	<a asp-controller="Login" class="link_type_b">LogIn</a>
	<a asp-controller="Home" class="link_type_c">Home</a>
}

<section class="login-main-container">
	<form asp-action="Registration" method="post">
		<input placeholder="Username" asp-for="@Model.Username" />
		<hr />
		<input placeholder="Password" asp-for="@Model.Password" />
		<input placeholder="Confirm" asp-for="@Model.Confirmation" />
		<hr />
		<button class="login-button" asp-action="Registration">Sign Up</button>
	</form>
</section>