@model MusicLibraryApp.Models.AdminPage.AdminTuneViewModel

@section HeaderText {
	<h2>ADD YOUR FAVOURITE MUSIC</h2>
}

@section HeaderContent {
	<p class="display_username">hello, @Model.Username!</p>
	<a class="link_type_c" asp-action="Index">Back</a>
}

<section class="data-container">
@* 	<form asp-action="Registration" method="post">
		<input placeholder="Username" asp-for="@Model.Tune.Performer" />
		<hr />
		<input placeholder="Password" asp-for="@Model.Password" />
		<input placeholder="Confirm" asp-for="@Model.Confirmation" />
		<hr />
		<button class="login-button" asp-action="Registration">Sign Up</button>
	</form> *@
</section>