@model MusicLibraryApp.Models.Account.RegistrationModel

@section HeaderText {
    <h2>CREATE NEW ACCOUNT</h2>
}

@section HeaderContent {
    <a asp-action="Login" class="link_type_c">LogIn</a>
}

<div class="data-container">
    <form asp-action="Registration" method="post">
        <input placeholder="@Resources.Resource.PlaceholderUsername" asp-for="Username" />
        <span asp-validation-for="Username"></span>
        <hr />
        <input placeholder="@Resources.Resource.PlaceholderPassword" asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <hr />
        <input placeholder="@Resources.Resource.PlaceholderConfirmation" asp-for="Confirmation" />
        <span asp-validation-for="Confirmation"></span>
        <hr />
        <button class="confirm-button" type="submit">@Resources.Resource.ButtonSignUp</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}