@model MusicLibraryApp.Models.LoginPage.LoginViewModel

@section HeaderText {
    <h2>LOGIN TO YOUR ACCOUNT</h2>
}

@section HeaderContent {
    <a asp-controller="Home" class="link_type_c">Back</a>
}

<section class="login-main-container">
    <form asp-action="Index" method="post">
        <input placeholder="Username" asp-for="Username" />
        <hr />
        <input placeholder="Password" asp-for="Password" />
        <hr />
        <button class="login-button" type="submit">Log In</button>
    </form>
</section>
