
/* ----- Common Region ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(../background/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    width: 100%;
    height: calc(100% - 60px);
}

header {
    width: 100vw;
    height: 60px;
    background-color: black;
}

header,
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.link_type_a,
.link_type_b,
.link_type_c,
.display_username {
    height: auto;
    width: auto;
    font-weight: bold;
    font-size: 14px;
    transition: 0.8s;
    text-decoration: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.link_type_a {
    color: #ff7300;
}

    .link_type_a:hover {
        border-radius: 10px;
        background: #ff7300;
        color: black;
        padding: 10px;
    }

.link_type_b {
    outline: 2px #00ffd5 solid;
    color: #00ffd5;
    padding: 6px;
    border-radius: 50%;
}

    .link_type_b:hover {
        border-radius: 10px;
        outline: 2px #ff7300 solid;
        color: #ff7300;
        padding: 10px;
    }

.link_type_c {
    background: #00ffd5;
    color: black;
    padding: 6px;
    border-radius: 50%;
}

    .link_type_c:hover {
        border-radius: 10px;
        background: #ff7300;
        color: black;
        padding: 10px;
    }

.display_username {
    color: #00ffd5;
}

/* ----- Layout region ----- */

.layout-gradient_line_decoration {
    height: 10px;
    width: 100vw;
    background: linear-gradient(45deg, #ff7300, #00ffd5);
}

.layout-header-container {
    height: 50px;
    width: 100vw;
}

.layout-header-container,
.layout-header-navigation,
.layout-header-content {
    display: flex;
    justify-content: center;
    align-content: center;
}

    .layout-header-container h2,
    .layout-header-text h2,
    .layout-header-text,
    .layout-header-search {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .layout-header-container h2 {
        height: 100%;
        width: 20%;
        font-family: "Monoton", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color: #ff7300;
    }

.layout-header-navigation,
.layout-header-content {
    height: 100%;
    width: 20%;
    gap: 10px;
    flex-wrap: wrap;
}

.layout-header-search {
    height: 100%;
    width: 60%;
}

.layout-header-text {
    height: 100%;
    width: 80%;
}

    .layout-header-text h2 {
        height: 100%;
        width: 100%;
        margin: 0;
        font-family: "Monoton", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color: transparent;
        background: linear-gradient(45deg, #ff7300, #00ffd5);
        -webkit-background-clip: text;
    }

.layout-header-no_navigation,
.layout-header-no_search,
.layout-header-no_text {
    display: none;
}


/* ----- Home region ----- */


/* ----- Login and Registration regions ----- */

.login-main-container {
    height: 400px;
    width: 300px;
    background: #ffffff20;
    border-radius: 20px;
    box-shadow: 0 0px 10px #ffffff50;
    backdrop-filter: blur(10px);
    overflow: hidden;
    padding: 20px;
}

    .login-main-container,
    .login-main-container form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

        .login-main-container form {
            height: 100%;
            width: 100%;
            gap: 20px;
        }

            .login-main-container form input {
                height: auto;
                width: auto;
                border-radius: 20px;
                backdrop-filter: blur(5px);
                background: #ffffff20;
                outline-style: none;
                border: 1px #11111120 solid;
                padding: 6px;
                font-weight: bold;
                text-align: center;
            }

            .login-main-container form button {
                height: auto;
                width: auto;
                border-radius: 20px;
                background: linear-gradient(135deg, #ff7300, #00ffd5);
                padding: 6px;
                font-weight: bold;
                text-align: center;
                color: black;
            }

            .login-main-container form input::placeholder {
                color: #fff;
            }
