@model MusicLibraryApp.Models.UserPage.UserCreateViewModel

@section HeaderText {
    <h2>ADD YOUR FAVOURITE MUSIC</h2>
}

@section HeaderContent {
    <p class="display_username">hello, @Model.User.Username</p>
    <a class="link_type_c" asp-action="Index">Back</a>
}

<div class="user-create-data-container">
    <form class="user-create-form" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="user-create-group-section">
            <div class="user-create-input-group">
                <input placeholder="Artist" asp-for="Tune.Performer" />
                <span asp-validation-for="Tune.Performer" class="validation-message"></span>
                <hr />
                <input placeholder="Title" asp-for="Tune.Title" />
                <span asp-validation-for="Tune.Title" class="validation-message"></span>
                <hr />
                <select asp-for="Tune.CategoryId" asp-items="Model.Category.Items"></select>
                <span asp-validation-for="Tune.CategoryId" class="validation-message"></span>
            </div>
            <div class="user-create-input-group">
                <p>Upload your music file here</p>
                <input type="file" asp-for="Tune.File" />
                <span asp-validation-for="Tune.File" class="validation-message"></span>
                <hr />
                <p>Upload music poster here</p>
                <input type="file" asp-for="Tune.Poster" />
                <span asp-validation-for="Tune.Poster" class="validation-message"></span>
            </div>
        </div>
        <div class="user-create-button-section">
            <button class="confirm-button" type="submit">Confirm</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
