@{
	ViewData["Title"] = "User Management";
}

@section HeaderContent {
	<a asp-controller="Home" class="link_type_c">Home</a>
}

<h1 style="color: #fff;
font-weight: bold;
background: #000000cc;
height: 40vh;
width: 100vh;
border-radius: 1rem;
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
flex-wrap: wrap;
margin: 0;">
	Work in progress!
</h1>